<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB_Th_rGa0buW_OBxvem5NXfMoaTPSFFnk</string>
	<key>GCM_SENDER_ID</key>
	<string>329198231008</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.HMS</string>
	<key>PROJECT_ID</key>
	<string>hospitalms-8bd35</string>
	<key>STORAGE_BUCKET</key>
	<string>hospitalms-8bd35.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:329198231008:ios:2995da7f783acc6af45f85</string>
</dict>
</plist>